#enable Rewrite Engine
RewriteEngine On

#set the default character set to UTF-8
AddDefaultCharset utf-8

#prevent directory browsing
Options -Indexes

#remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

#redirect to extensionless URL
RewriteCond %{THE_REQUEST} \s/+(.+)\.php [NC]
RewriteRule ^ /%1 [R=301,L]
